<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kimhh.bssmbob">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/bsmbob_ubin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bsmbob_ubin_round"
        android:supportsRtl="true"
        android:theme="@style/CardTheme">
        <activity android:name="com.kimhh.bssmbob.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
\
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>